<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>map</title>
</head>
<body>
  <div>
    <iframe
    width="450"
    height="250"
    frameborder="0" style="border:0"
    src="https://www.google.com/maps/embed/v1/directions?key=AIzaSyCXaz0pdQtLIMY1cdukp97TzKILTRegYbU&origin=<%=p1.lat%>,<%=p1.lng%>&destination=<%=p2.lat%>,<%=p2.lng%>" allowfullscreen>
  </iframe>
   </div>
</body>
</html>